<p>Educational project <a href=<%= github_url('ArtemTkachev', 'TestGuru') %> target="_blank">TestGuru</a>
  at the online school <a href="https://thinknetica.com/" target="_blank">Thinknetika</a></p>
<p>&copy; @tka.artemiy <%= current_year %></p>